Project ideas:

STEP 1: importing Data Set

STEP 2: Text Cleaning

1. Sample 10000 rows
2. Remove HTML Tags
3. Remove Special characters
4. Converting everything into lowercase
5. Removing stop words
6. stemming (ex. played/playing -----converting into----> play)

STEP 3: Converting Each words in review section into columns

STEP 4: Spliting the whole dataset into traning and test sets

STEP 6: Applying Naive Bayes Algorithm

STEP 7: Testing for all types of distribution for better accuracy

1. Gaussian
2. Multinomial
3. Bernoulli
4. 

STEP 8: Check the Accuracy
|

In [52]:
import numpy as np
import pandas as pd

In [87]:
#importing dataset
df=pd.read_csv('IMDB Dataset.csv')
#showing dataset
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [88]:
#one review
df['review'][0]

"One of the other reviewers has mentioned that after watching just 1 Oz episode you'll be hooked. They are right, as this is exactly what happened with me.<br /><br />The first thing that struck me about Oz was its brutality and unflinching scenes of violence, which set in right from the word GO. Trust me, this is not a show for the faint hearted or timid. This show pulls no punches with regards to drugs, sex or violence. Its is hardcore, in the classic use of the word.<br /><br />It is called OZ as that is the nickname given to the Oswald Maximum Security State Penitentary. It focuses mainly on Emerald City, an experimental section of the prison where all the cells have glass fronts and face inwards, so privacy is not high on the agenda. Em City is home to many..Aryans, Muslims, gangstas, Latinos, Christians, Italians, Irish and more....so scuffles, death stares, dodgy dealings and shady agreements are never far away.<br /><br />I would say the main appeal of the show is due to the fact that it goes where other shows wouldn't dare. Forget pretty pictures painted for mainstream audiences, forget charm, forget romance...OZ doesn't mess around. The first episode I ever saw struck me as so nasty it was surreal, I couldn't say I was ready for it, but as I watched more, I developed a taste for Oz, and got accustomed to the high levels of graphic violence. Not just violence, but injustice (crooked guards who'll be sold out for a nickel, inmates who'll kill on order and get away with it, well mannered, middle class inmates being turned into prison bitches due to their lack of street skills or prison experience) Watching Oz, you may become comfortable with what is uncomfortable viewing....thats if you can get in touch with your darker side."

Starting Text Cleaning

In [89]:
#taking sample of random 10000 rows
df=df.sample(10000)

In [90]:
df.shape

(10000, 2)

In [57]:
#for finding any value is missing or not
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     50000 non-null  object
 1   sentiment  50000 non-null  object
dtypes: object(2)
memory usage: 390.7+ KB

In [58]:
#replacing sentiment results with 0 and 1
df['sentiment'].replace({'positive':1, 'negative':0},inplace=True)

In [59]:
df.head()

                                              review  sentiment
0  One of the other reviewers has mentioned that ...          1
1  A wonderful little production. <br /><br />The...          1
2  I thought this was a wonderful way to spend ti...          1
3  Basically there's a family where a little boy ...          0
4  Petter Mattei's "Love in the Time of Money" is...          1

In [60]:
#Testing code for removing HTML Tags
import re
clean = re.compile('<.*?>')
re.sub(clean, '', df.iloc[2].review)

'I thought this was a wonderful way to spend time on a too hot summer weekend, sitting in the air conditioned theater and watching a light-hearted comedy. The plot is simplistic, but the dialogue is witty and the characters are likable (even the well bread suspected serial killer). While some may be disappointed when they realize this is not Match Point 2: Risk Addiction, I thought it was proof that Woody Allen is still fully in control of the style many of us have grown to love.This was the most I\'d laughed at one of Woody\'s comedies in years (dare I say a decade?). While I\'ve never been impressed with Scarlet Johanson, in this she managed to tone down her "sexy" image and jumped right into a average, but spirited young woman.This may not be the crown jewel of his career, but it was wittier than "Devil Wears Prada" and more interesting than "Superman" a great comedy to go see with friends.'

In [61]:
#function to clean HTML tags

def clean_html_tags(text):
    import re
    clean = re.compile('<.*?>')
    return re.sub(clean, '', text)

In [62]:
#applying into dataframe

df['review']=df['review'].apply(clean_html_tags)

In [63]:
#converting everything into lower

def convert_lower(text):
    return text.lower()

In [64]:
df['review']=df['review'].apply(convert_lower)

In [65]:
#function to remove special characters

def remove_special_characters(text):
    x=''
    for i in text:
        if i.isalnum():
            x=x+i
        else:
            x=x+' '
    return x

In [66]:
#testing
remove_special_characters('So the idea is to build a regular expression which can find all characters “< >” as a first incidence in a text, and after, using the sub function, we can replace all text between those symbols with an empty string.')

'So the idea is to build a regular expression which can find all characters       as a first incidence in a text  and after  using the sub function  we can replace all text between those symbols with an empty string '

In [67]:
#applying

df['review']=df['review'].apply(remove_special_characters)

In [68]:
#remove the stop words

import nltk

nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Ritam\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [69]:
from nltk.corpus import stopwords

In [70]:
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [71]:
def remove_stopwords(text):
    x=[]
    for i in text.split():
        if i not in stopwords.words('english'):
            x.append(i)
    y=x[:]
    x.clear()
    return y

The next step will take a very long time depending on your dataset/may be an hour/please take sample from the 50K data set

In [72]:
df['review']=df['review'].apply(remove_stopwords)

In [73]:
df

                                                  review  sentiment
0      [one, reviewers, mentioned, watching, 1, oz, e...          1
1      [wonderful, little, production, filming, techn...          1
2      [thought, wonderful, way, spend, time, hot, su...          1
3      [basically, family, little, boy, jake, thinks,...          0
4      [petter, mattei, love, time, money, visually, ...          1
...                                                  ...        ...
49995  [thought, movie, right, good, job, creative, o...          1
49996  [bad, plot, bad, dialogue, bad, acting, idioti...          0
49997  [catholic, taught, parochial, elementary, scho...          0
49998  [going, disagree, previous, comment, side, mal...          0
49999  [one, expects, star, trek, movies, high, art, ...          0

[50000 rows x 2 columns]

In [74]:
# performing stemming
from nltk.stem.porter import PorterStemmer
ps= PorterStemmer()

In [75]:
y=[]
def stem_words(text):
    for i in text:
        y.append(ps.stem(i))
    z=y[:]
    y.clear()
    return z

In [76]:
stem_words(['I','play','playing','loved','love'])

['I', 'play', 'play', 'love', 'love']

The next step will also take some times

In [77]:
df['review']=df['review'].apply(stem_words)

In [78]:
#join back

def join_back(list_input):
    return " ".join(list_input)

In [79]:
df['review']=df['review'].apply(join_back)

In [80]:
df

                                                  review  sentiment
0      one review mention watch 1 oz episod hook righ...          1
1      wonder littl product film techniqu unassum old...          1
2      thought wonder way spend time hot summer weeke...          1
3      basic famili littl boy jake think zombi closet...          0
4      petter mattei love time money visual stun film...          1
...                                                  ...        ...
49995  thought movi right good job creativ origin fir...          1
49996  bad plot bad dialogu bad act idiot direct anno...          0
49997  cathol taught parochi elementari school nun ta...          0
49998  go disagre previou comment side maltin one sec...          0
49999  one expect star trek movi high art fan expect ...          0

[50000 rows x 2 columns]

STEP 3: Converting Each words in review section into columns

In [81]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()

In [82]:
# we can also use these code // here the max_features gives us top 1000 most valueable/active coloumn instade of 35000 colomns
#from sklearn.feature_extraction.text import CountVectorizer
#cv=CountVectorizer(max_features=1000)

In the next step when we going to convert whole 50K data set into numpy array we get a error
"ValueError: array is too big; `arr.size * arr.dtype.itemsize` is larger than the maximum possible size."
so we are working with 10K rows dataset only.

In [85]:
x=cv.fit_transform(df['review']).toarray()

ValueError: array is too big; `arr.size * arr.dtype.itemsize` is larger than the maximum possible size.

In [ ]:
x.shape

In [34]:
y= df.iloc[:,-1].values

In [35]:
y.shape

(1000,)

In [36]:
#now in this point our x and y are ready.....now we are ready for going to the next part

In [37]:
#TESTING ON X

x[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [38]:
print(x[0].max())
print(x[0].min())
x[0].mean()

4
0

0.005152531283225648

STEP 4: Spliting the whole dataset into traning and test sets

In [39]:
#x,y
#training Set
#test set (already know the result)
#compare and check the accuracy of the prediction given by my model

In [40]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [41]:
x_train.shape

(800, 12227)

In [42]:
from sklearn.naive_bayes import GaussianNB,BernoulliNB,MultinomialNB

In [43]:
#making objects
clf1=GaussianNB()
clf2=BernoulliNB()
clf3=MultinomialNB()

In [44]:
clf1.fit(x_train,y_train)
clf2.fit(x_train,y_train)
clf3.fit(x_train,y_train)

MultinomialNB()

In [45]:
# predicting results for the test input values
y_pred1=clf1.predict(x_test)
y_pred2=clf2.predict(x_test)
y_pred3=clf3.predict(x_test)

In [46]:
#predicted test results
y_pred2.shape

(200,)

In [47]:
#original test results
y_test.shape

(200,)

In [48]:
#checking accuracy
from sklearn.metrics import accuracy_score

In [49]:
print("Gaussian: ",accuracy_score(y_test,y_pred1))
print("Bernoulli: ",accuracy_score(y_test,y_pred2))
print("Multinomial: ",accuracy_score(y_test,y_pred3))

Gaussian:  0.595
Bernoulli:  0.76
Multinomial:  0.815