Project ideas:

STEP 1: importing Data Set

STEP 2: Text Cleaning

1. Sample 10000 rows
2. Remove HTML Tags
3. Remove Special characters
4. Converting everything into lowercase
5. Removing stop words
6. stemming (ex. played/playing -----converting into----> play)

STEP 3: Converting Each words in review section into columns

STEP 4: Spliting the whole dataset into traning and test sets

STEP 6: Applying Naive Bayes Algorithm

STEP 7: Testing for all types of distribution for better accuracy

1. Gaussian
2. Multinomial
3. Bernoulli
4. 

STEP 8: Check the Accuracy
|

In [35]:
import numpy as np
import pandas as pd

In [36]:
#importing dataset
df=pd.read_csv('IMDB Dataset.csv')
#showing dataset
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [37]:
#one review
df['review'][0]

"One of the other reviewers has mentioned that after watching just 1 Oz episode you'll be hooked. They are right, as this is exactly what happened with me.<br /><br />The first thing that struck me about Oz was its brutality and unflinching scenes of violence, which set in right from the word GO. Trust me, this is not a show for the faint hearted or timid. This show pulls no punches with regards to drugs, sex or violence. Its is hardcore, in the classic use of the word.<br /><br />It is called OZ as that is the nickname given to the Oswald Maximum Security State Penitentary. It focuses mainly on Emerald City, an experimental section of the prison where all the cells have glass fronts and face inwards, so privacy is not high on the agenda. Em City is home to many..Aryans, Muslims, gangstas, Latinos, Christians, Italians, Irish and more....so scuffles, death stares, dodgy dealings and shady agreements are never far away.<br /><br />I would say the main appeal of the show is due to the fact that it goes where other shows wouldn't dare. Forget pretty pictures painted for mainstream audiences, forget charm, forget romance...OZ doesn't mess around. The first episode I ever saw struck me as so nasty it was surreal, I couldn't say I was ready for it, but as I watched more, I developed a taste for Oz, and got accustomed to the high levels of graphic violence. Not just violence, but injustice (crooked guards who'll be sold out for a nickel, inmates who'll kill on order and get away with it, well mannered, middle class inmates being turned into prison bitches due to their lack of street skills or prison experience) Watching Oz, you may become comfortable with what is uncomfortable viewing....thats if you can get in touch with your darker side."

Starting Text Cleaning

In [38]:
#taking sample of random 10000 rows
df=df.sample(1000)

In [39]:
df.shape

(1000, 2)

In [40]:
#for finding any value is missing or not
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 28155 to 4269
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     1000 non-null   object
 1   sentiment  1000 non-null   object
dtypes: object(2)
memory usage: 15.6+ KB

In [41]:
#replacing sentiment results with 0 and 1
df['sentiment'].replace({'positive':1, 'negative':0},inplace=True)

In [42]:
df.head()

                                                  review  sentiment
28155  With all of mainland Europe under his control ...          1
43507  It's hard to know what was going through Per K...          0
20879  This is definitely an excellent show. I don't ...          1
19294  I had to give this film a 1 because it's that ...          0
40530  In New York, when the shy and lonely project m...          1

In [43]:
#Testing code for removing HTML Tags
import re
clean = re.compile('<.*?>')
re.sub(clean, '', df.iloc[2].review)

"This is definitely an excellent show. I don't have cable, so I started renting them, because my friend recommended it. I thought it would be a teen soap, you know, who's dating who, that kind of thing. But it was not. It is surprisingly deep. It is also very witty. It moves at a very fast pace, and there are more and more jokes you catch every time you watch it. It is a comedy-drama, which is rare when well done. It is about Rory and Lorelai's relationship. Instead of the classic mother-daughter relationship it is a story of the best friend relationship-- about a mother and daughter. The characters are perfectly cast and all do a superb job. It is definitely the best TV show I have very come across."

In [44]:
#function to clean HTML tags

def clean_html_tags(text):
    import re
    clean = re.compile('<.*?>')
    return re.sub(clean, '', text)

In [45]:
#applying into dataframe

df['review']=df['review'].apply(clean_html_tags)

In [46]:
#converting everything into lower

def convert_lower(text):
    return text.lower()

In [47]:
df['review']=df['review'].apply(convert_lower)

In [48]:
#function to remove special characters

def remove_special_characters(text):
    x=''
    for i in text:
        if i.isalnum():
            x=x+i
        else:
            x=x+' '
    return x

In [49]:
#testing
remove_special_characters('So the idea is to build a regular expression which can find all characters “< >” as a first incidence in a text, and after, using the sub function, we can replace all text between those symbols with an empty string.')

'So the idea is to build a regular expression which can find all characters       as a first incidence in a text  and after  using the sub function  we can replace all text between those symbols with an empty string '

In [50]:
#applying

df['review']=df['review'].apply(remove_special_characters)

In [51]:
#remove the stop words

import nltk

nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Ritam\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [52]:
from nltk.corpus import stopwords

In [53]:
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [54]:
def remove_stopwords(text):
    x=[]
    for i in text.split():
        if i not in stopwords.words('english'):
            x.append(i)
    y=x[:]
    x.clear()
    return y

In [63]:
df['review']=df['review'].apply(remove_stopwords)

In [64]:
df

                                                  review  sentiment
28155  [mainland, europe, control, hitler, prepares, ...          1
43507  [hard, know, going, per, kristensen, morten, l...          0
20879  [definitely, excellent, show, cable, started, ...          1
19294  [give, film, 1, bad, make, think, enjoy, watch...          0
40530  [new, york, shy, lonely, project, manager, des...          1
...                                                  ...        ...
11727  [let, start, saying, surprised, production, va...          1
44218  [sequel, final, entry, kharis, series, slightl...          0
23992  [first, let, say, director, wonderful, use, ti...          1
20986  [would, thought, movie, man, drives, couple, h...          1
4269   [excellent, twentieth, century, fox, film, noi...          1

[1000 rows x 2 columns]

In [65]:
# performing stemming
from nltk.stem.porter import PorterStemmer
ps= PorterStemmer()

In [66]:
y=[]
def stem_words(text):
    for i in text:
        y.append(ps.stem(i))
    z=y[:]
    y.clear()
    return z

In [67]:
stem_words(['I','play','playing','loved','love'])

['I', 'play', 'play', 'love', 'love']

In [68]:
df['review']=df['review'].apply(stem_words)

In [69]:
#join back

def join_back(list_input):
    return " ".join(list_input)

In [70]:
df['review']=df['review'].apply(join_back)

In [71]:
df

                                                  review  sentiment
28155  mainland europ control hitler prepar last obst...          1
43507  hard know go per kristensen morten lindberg he...          0
20879  definit excel show cabl start rent friend reco...          1
19294  give film 1 bad make think enjoy watch laugh l...          0
40530  new york shi lone project manag design firm ma...          1
...                                                  ...        ...
11727  let start say surpris product valu movi manag ...          1
44218  sequel final entri khari seri slightli enjoy w...          0
23992  first let say director wonder use titl establi...          1
20986  would thought movi man drive coupl hundr mile ...          1
4269   excel twentieth centuri fox film noir metropol...          1

[1000 rows x 2 columns]

STEP 3: Converting Each words in review section into columns

In [77]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()

In [78]:
x=cv.fit_transform(df['review']).toarray()

In [79]:
x.shape

(1000, 12975)

In [82]:
y= df.iloc[:,-1].values

In [83]:
y.shape

(1000,)

In [84]:
#now in this point our x and y are ready.....now we are ready for going to the next part

In [85]:
#TESTING ON X

x[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [89]:
print(x[0].max())
print(x[0].min())
x[0].mean()

4
0

0.010096339113680155

STEP 4: Spliting the whole dataset into traning and test sets